test/test-subprocessgroup.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ ],
        "funnels" : [ ],
        "identifier" : "f8adcacb-d5d1-324d-9238-ae5a9101ab93",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "test-subprocessgroup",
        "outputPorts" : [ ],
        "position" : {
          "x" : 295.0,
          "y" : 61.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f8adcacb-d5d1-324d-9238-ae5a9101ab93",
          "identifier" : "51a268e5-be2b-3958-bd3f-df345b980b91",
          "name" : "AttributesToCSV",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 646.4999999999998,
            "y" : 450.5
          },
          "properties" : {
            "null-value" : "false",
            "include-core-attributes" : "true",
            "destination" : "flowfile-attribute",
            "include-schema" : "false",
            "attribute-list" : "${ddd}"
          },
          "propertyDescriptors" : {
            "null-value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "null-value",
              "sensitive" : false
            },
            "include-core-attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "include-core-attributes",
              "sensitive" : false
            },
            "attributes-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-regex",
              "sensitive" : false
            },
            "destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "destination",
              "sensitive" : false
            },
            "include-schema" : {
              "displayName" : "Include Schema",
              "identifiesControllerService" : false,
              "name" : "include-schema",
              "sensitive" : false
            },
            "attribute-list" : {
              "displayName" : "Attribute List",
              "identifiesControllerService" : false,
              "name" : "attribute-list",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToCSV",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : {
          "ddd" : "ddd"
        }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}